*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


body{
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Moirai One', cursive;
    font-family: 'Paytone One', sans-serif;
    /* background-color: rgba(1, 12, 24, 0.833); */
    /* background-image:url(/sun-tornado.svg); */
    color: whitesmoke;
    overflow-y: scroll;
    /* background-size: cover; */
    height: 100vh;
    
}

/* ------------------navbar---------------- */
#nav_about{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23110718' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23220e30' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23331447' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23441b5f' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment:fixed;
    background-size:cover;
    height: 100vh;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    
}
#navbar{
    height: 50px;
    /* width: 90%; */
    display: flex;
    /* position: sticky;
    top: 0; */
    margin-top: 5px;
    align-items: center;
    justify-content: space-evenly;
    /* background-color:rgba(95, 158, 160, 0.082); */
    /* border: 1px solid red; */
    
}
.subNavBar{
    border: .1px solid rgb(218, 218, 208);
    background-color: #ffffff2d;
    border-radius: 10px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#navbar a{
    float: left;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: rgb(212, 223, 224);
    /* -webkit-text-stroke: 2px 2px 2px white; */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    /* font-weight: 600; */
    padding: 10px;
    /* width: 162px; */
    height: 65%;
    
    /* border-radius: 5px; */
    /* border: 1px solid red; */
    
    transition: 0.1s ease-in-out;
}
#navbar a:hover{
    color: rgb(233, 156, 156);
    text-shadow: 2px 2px 3px rgb(43, 41, 41);
     /* border-bottom: 1px solid salmon; */
     /* box-shadow: 0px 0px 4px gray; */
     
    }
    
    /* --------------ABOUT ME--------------- */
    #aboutMe{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
        height: 100%;
        /* border: 2px solid white; */
        
    }
    
    #aboutMe1{
        font-family: 'Paytone One', sans-serif;
    /* border: 2px solid red; */
    display: flex;
    height: 90%;
    margin-top: 20px;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}

.intro{
    display: flex;
    flex-direction: column; 
    align-items: start;
    justify-content: space-evenly;
    font-size: 30px;
    /* border: 2px solid red; */
    height: 85%;
    width:60%;
}
.log-sign{
    display: flex;
    /* text-align:end; */
    align-items: center;
    justify-content: start;
    /* border: 1px solid red; */
    height: 50px;
    width: 100%;
}
.log-sign button{
    margin: 0px 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 550;
    background-color:rgba(95, 158, 160, 0.123);
    font-size: 18px;
}
.log-sign button:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    /* border: 1.5px solid salmon; */
    transition: 0.3s ease-in-out;
    
}
#cv_hire{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 33%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cv_hire button{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    color: white;
    font-size: 17px;
    height: 40px;
    width: auto;
    border: none;
    border: 1px solid rgb(88, 87, 87);
    border-radius: 20px;
    padding: 15px;
    background: none;
}
#cv_hire button:hover{
    cursor: pointer;
    /* color: #000000; */
    border: 1px solid rgb(231, 228, 228);
    /* background-color:whitesmoke; */
    
}


.name{
    color: salmon;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(44, 42, 42);
}
.title{
    color: rgb(82, 124, 214);
    font-size: 45px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(44, 42, 42);
}

.img img{
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* transform: scaleX(-1); */
    /* background-color: rgba(114, 8, 118, 0.208); */
    filter: drop-shadow(2px 2px 1px);
}

.dp1{
    /* position:relative; */
    /* border: 2px solid red; */
    /* z-index: 2; */
    opacity: .9;
}

/* ---------Get to Know More ABOUT Me------ */
#gtk{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    width: 100%;
    height: 100vh;
    /* border: 2px solid rgb(81, 30, 199); */
}
#sub_gtk{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    height: 85%;
    /* border: 2px solid rgb(173, 230, 52); */
}
.sub_gtk1{
    /* border: 2px solid rgb(148, 27, 184); */
    text-align: center;
}
.sub_gtk2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid rgb(23, 211, 67); */
    
}
.sub_gtk2_img{
    /* border: 2px solid red; */
    height: 390px;
    width: 20%;
    
}
.sub_gtk2_img img{
    border-radius: 25px;
    
    height: 370px;
    width: 350px;
}
.sub_gtk2_about{
    /* border: 2px solid red; */
    height: 95%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.summary{
    /* border: 2px solid red; */
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(81, 79, 79);
    height: 50%;
}
.edu{
    height: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}
.edu div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 150px;
    border: 1.5px solid rgba(213, 206, 206, 0.84);
    border-radius: 25px;
}
.edu div p{
    color: rgb(173, 168, 168);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ----------------Skills----------------- */

#skill{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:600px;
    /* border: 2px solid red; */
    color: #000;
    
}
#skill i{
    font-size: 100px;
}
#sd1{
    width: 85%;
    /* height: 4%; */
    /* border: 2px solid blue; */
    padding-bottom: 40px;
    text-align: center;
}
#sd1 h1{
    font-size: 45px;
    color: #000000;
}
#sd2{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    width: 85%;
    height: 49%;
}
#sd3{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    width: 85%;
    height: 49%;
}
/* #sd2 div,#sd3 div{
    width: 33%;
    height: 100%;
    border: 2px solid black;
    
} */
#sd2 h1,#sd3 h1{
    text-align: center;
    color: #585656;
    font-size: 25px;
    /* height: 10%; */
    /* border: 2px solid red; */
}
.sd21{
    border: 1.5px solid rgb(173, 170, 170);
    border-radius: 20px;
    height: 77.5%;
    width: 35%;
}
.sd22{
    height: 100%;
    width: 35%;
}
.lang,.vcs{
    /* border: 2px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    /* height: 100%; */
}
.js_java, .git-github{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    margin-top: 10px;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}
.web{
    border: 1.5px solid rgb(173, 170, 170);
    border-radius: 20px;
    /* border: 2px solid green; */
    height: 130%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}
.html-css-tw{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:80%;
    width: 100%;
    /* border: 2px solid palevioletred; */
}

.html_css{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tailwind,.html, .css,.git,.github{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tailwind img{
    height: 60px;
    width: 120px;
}
#sd3{
    display: flex;
    /* align-items: end; */
    justify-content: end;
}
.sd3{
    border: 1.5px solid rgb(173, 170, 170);
    /* border: 2px solid red; */
    border-radius: 20px;
    height: 80%;
    width: 35%;
    margin-right: 80px;
    margin-top: -20px;
}




/* -----------Projects------------- */

#project{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    color: #000;
    justify-content: space-between;
    flex-direction: column;
    height: 1100px;
    width: 100%;
    
}

#Jio_clone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 45%;
    /* border: 2px solid red; */
    border: 1.5px solid rgba(207, 203, 203, 0.831);
    border-radius: 20px;
}

#Jio_clone div,#Zomaito div {
    /* border: 1.5px solid rgba(207, 203, 203, 0.831); */
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
    width: 100%;
    height: 80%;
}

.Jio_clone{
    background-image: url(/illusion_Portfolio/jio.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#project button{
    font-size: 16px;
    height: 40px;
    width: 80px;
    border: none;
    border: 1px solid grey;
    border-radius: 20px;
    background: none;
    margin-bottom: 5px;
}

#project button:hover{
    cursor: pointer;
    border: 1px solid rgb(48, 47, 47);
    
}
.Zomaito{
    
    background-image: url(/illusion_Portfolio/zomaito.png);
    background-size:cover;
    background-repeat: no-repeat;
}

#Zomaito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 43%;
    /* border: 2px solid red; */
    border: 1.5px solid rgba(207, 203, 203, 0.831);
    border-radius: 20px;
}

#arrowDiv{
    /* position: relative; */
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
    /* border: 2px solid red; */
}
.arrow{
    position: sticky;

    top:101vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    height: 100%;
    width: 50px;
    border-radius: 50%;
    /* background-color: #000; */
    margin-right: 10px;
    /* transform: rotate(90deg); */
}